* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #faf8ef;
}

.game-container {
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.game-header h1 {
  font-size: 55px;
  color: #776e65;
}

.game-control {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button-newGame {
  padding: 5px 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #8f7a66;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.game-board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
  gap: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: #bbada0;
  z-index: 1;
}

.game-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.game-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  pointer-events: none;
}

.score-container {
  display: flex;
  justify-content: space-between;
  width: 220px;
}
